NAVER_CLIENT_ID=your_client_id
NAVER_CLIENT_SECRET=your_client_secret
KAKAO_REST_API_KEY=your_kakao_rest_api_key
PORT=4177
HOST=127.0.0.1
APP_PIN=your_access_pin
APP_AUTH_SECRET=your_stable_auth_secret
